@model NotataSub.Models.Client
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{ ViewData["Title"] = "Detiles"; }

<style>
    .detiles-page {
        display: unset;
    }
</style>


@section DetilesPage
{
    <table class="table">

        <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
        <tr>            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
       
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <td>
                @Html.DisplayFor(model => model.Image)
            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
        
    </table>


    <div class="mt-2 mr-4">
        <form>
            <button type="submit" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="far fa-edit"></i>
                تعديل
            </button>
        </form>
       
    </div>
}
