@model IEnumerable<NotataSub.Models.selectModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="col-12">


        <div class="card">

            <div class="card-header">
                <h3 class="card-title">
                    المبيعات اليومية
                    <i class="fas fa-university"></i>

                </h3>
                <button type="button" onclick="generatePDF()" class="btn-sm btn-success pull-right">طباعة</button>
                
            </div>

            <div class="card-body">
                <div class="table-responsive pt-2">
                    <table class="table table-striped" id="department_table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Booktitle)
                                </th>

                                
                                <th>
                                    @Html.DisplayNameFor(model => model.auther)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BuyingDate)
                                </th>
                                <th>سعر الكتاب</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Booktitle)
                                    </td>

                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.auther)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuyingDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookPrice)
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>



        function generatePDF() {

            // Choose the element id which you want to export.
            var element = document.getElementById('department_table');

            var opt = {
                margin: 0.5,
                filename: 'Report.pdf',
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 1 },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape', precision: '12' }
            };

            // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
            html2pdf().set(opt).from(element).save();
        }
        $(function () {
            $('#department_table').DataTable({
                "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                "responsive": true,
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يتم العثور على أية نتائج",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "البحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });
        });
        
                    
                    
                    </script>
}
