@model NotataSub.Models.BookSemeter

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookSemeter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.semeterTitel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.semeterTitel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pagenum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pagenum)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.book2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.book2.Id)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
