@model NotataSub.Models.BookSemeter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookSemeter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.semeterTitel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.semeterTitel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pagenum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pagenum)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.book2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.book2.Id)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
