@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Notat</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />
    <!-- iCheck -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" />
    <!-- JQVMap -->
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css" />
    <!-- Daterange picker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- summernote -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Bootstrap 4 RTL -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">


    <!-- Custom style for RTL -->
    <link rel="stylesheet" href="~/css/custom.css">



    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity"
                      asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                      method="post" id="logoutForm" class="ml-auto mr-0">
                    <ul class="navbar-nav px-3 mr-0 ml-auto">
                        <li class="nav-item text-nowrap">
                            <button class="btn btn-outline-primary"
                                    type="submit">
                                <i class="fas fa-sign-out-alt"></i>
                                تسجيل خروج
                            </button>
                        </li>
                    </ul>
                </form>
            }
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Notat</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="info">
                        <span class="d-block text-white "> &nbsp;&nbsp;مدير الموقع</span>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item ">
                            <a href="/Home/Index" class="nav-link ">
                                <i class=" nav-icon fas fa-home"></i>
                                <p>
                                    الرئيسية

                                </p>
                            </a>

                        </li>
                      

                   


                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>
                                    إدارة
                                    <i class="right fas fa-angle-left"></i>
                                    <span class="badge badge-info right">4</span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Universities" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-car"></i>
                                        <p>الجامعة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Faculties" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>الكلية</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Departments" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>القسم</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="StudyYears" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>السنة الدراسية</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Teachers" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-user"></i>
                                        <p>المدرسين</p>
                                    </a>
                                </li>
                          


                                <li class="nav-item">
                                    <a asp-controller="Courses" asp-action="Index" class="nav-link">
                                        <i class=" nav-icon fas fa-user-circle"></i>
                                        <p>المواد</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Lectures" asp-action="Index" class="nav-link">
                                        <i class=" nav-icon fas fa-file"></i>
                                        <p>المحاضرات</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview menu-open">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-tasks"></i>
                                        <p>
                                            التقارير
                                            <i class="right fas fa-angle-left"></i>

                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-controller="NotatReports" asp-action="TeacherCourseView" class="nav-link">
                                                <i class=" "></i>
                                                <p>تقارير كورسات الأستاذ</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="NotatReports" asp-action="StudentCourseView" class="nav-link">
                                                <i class=" "></i>
                                                <p>تقارير كورسات الطالب</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a asp-controller="NotatReports" asp-action="CourseView" class="nav-link">
                                                <i class=" "></i>
                                                <p>تقارير كورسات </p>
                                            </a>
                                        </li>

                                        







                                    </ul>
                                </li>




                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->


        <main class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()

                <div class="create-page">
                    <form asp-action="Create"  enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12">

                                <div class="card card-primary border-0">
                                    <div class="card-header">
                                        <h3 class="card-title">اضافة</h3>


                                        <div class="d-inline">
                                            <a asp-action="Index"><i class="fa fa-arrow-left fa-lg"></i> </a>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">

                                            @RenderSection("CreatePage", false)

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" id="alert"  class="btn btn-outline-primary">
                                            <i class="fa fa-plus"></i>
                                            إنشاء
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="edit-page">

                    <div class="row">
                        <div class="col-12">

                            <div class="card card-primary border-0">
                                <div class="card-header">
                                    <h3 class="card-title"> تعديل </h3>
                                    <div class="d-inline">
                                        <a asp-action="Index"><i class="fa fa-arrow-left back-icon"></i></a>
                                    </div>
                                </div>

                                <form asp-action="Edit" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            @RenderSection("EditPage", false)

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-outline-primary">
                                            <i class="far fa-edit"></i>
                                            تعديل
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="delete-page">
                    <div class="row">

                        <div class="col-12">
                            <div class="mt-3 mb-3">
                                <span class="lead">
                                    هل تريد الحذف؟
                                </span>
                                <div class="d-inline float-right">
                                    <a asp-action="Index"><i class="fa fa-arrow-left back-icon fa-2x"></i> </a>
                                </div>
                            </div>


                  
                                @RenderSection("DeletePage", false)

                   


                        </div>
                    </div>
                </div>


                <div class="detiles-page">
                    <div class="row">

                        <div class="col-12">
                            <div class="mt-3 mb-3">
                                <span class="lead">
                                    التفاصيل
                                </span>
                                <div class="d-inline float-right">
                                    <a asp-action="Index"><i class="fa fa-arrow-left back-icon fa-2x"></i> </a>
                                </div>
                            </div>


                         

                                @RenderSection("DetilesPage", false)


                         


                        </div>
                       

                    </div>
                </div>

            </div>

</main>
        <footer class="main-footer">
            <strong class="float-right">Notat © 2022</strong>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 rtl -->
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/js/sparkline.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>    <!-- Summernote -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>    <!-- overlayScrollbars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/jquery.overlayScrollbars.js"></script>    <!-- AdminLTE App -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>    <!-- AdminLTE App -->
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>    <!-- AdminLTE App -->
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--print-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
